body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: brown;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
button{
    cursor: pointer;
    color: #000;
    background-color: blue;
    border-radius: 5px;
    border-style:inset;
    height: 50px;
    width: 150px;

}